In [26]:
import itertools
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
e_i = np.array(list(itertools.product([-1,0,1],[-1,1],[-1,1],[-2,-1,1,2])))
e_i.shape

(48, 4)

In [27]:
data = pd.DataFrame(e_i,columns = ['tipo_suspension','abertura_malla','temp_ciclaje','replica'])
data.head(10)

   tipo_suspension  abertura_malla  temp_ciclaje  replica
0               -1              -1            -1       -2
1               -1              -1            -1       -1
2               -1              -1            -1        1
3               -1              -1            -1        2
4               -1              -1             1       -2
5               -1              -1             1       -1
6               -1              -1             1        1
7               -1              -1             1        2
8               -1               1            -1       -2
9               -1               1            -1       -1

In [28]:
y = np.array([60,75,75, 86, 67,73,73, 67, 62,68,65, 76, 71,80,80, 80, 76,71,75, 70,75,75,75,77,55,53,53, 55,52,52,57, 54, 44,44,45, 48, 60,60,60,67, 52, 51, 50, 52, 56,55,57,59])
y

array([60, 75, 75, 86, 67, 73, 73, 67, 62, 68, 65, 76, 71, 80, 80, 80, 76,
       71, 75, 70, 75, 75, 75, 77, 55, 53, 53, 55, 52, 52, 57, 54, 44, 44,
       45, 48, 60, 60, 60, 67, 52, 51, 50, 52, 56, 55, 57, 59])

In [13]:
df_y = pd.DataFrame(y, columns =['vol_sedimentacion'])
df_y.head()

   vol_sedimentacion
0                 60
1                 75
2                 75
3                 86
4                 67

In [21]:
df = pd.concat([data, df_y], axis = 1)
df.head(10)

   tipo_suspension  abertura_malla  temp_ciclaje  replica  vol_sedimentacion
0               -1              -1            -1       -2                 60
1               -1              -1            -1       -1                 75
2               -1              -1            -1        1                 75
3               -1              -1            -1        2                 86
4               -1              -1             1       -2                 67
5               -1              -1             1       -1                 73
6               -1              -1             1        1                 73
7               -1              -1             1        2                 67
8               -1               1            -1       -2                 62
9               -1               1            -1       -1                 68

In [22]:
df.describe()

,tipo_suspension,abertura_malla,temp_ciclaje,replica,vol_sedimentacion
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,0.000000,0.000000,0.000000,0.000000,63.395833
std,0.825137,1.010582,1.010582,1.597871,11.256657
min,-1.000000,-1.000000,-1.000000,-2.000000,44.000000
25%,-1.000000,-1.000000,-1.000000,-1.250000,53.750000
50%,0.000000,0.000000,0.000000,0.000000,61.000000
75%,1.000000,1.000000,1.000000,1.250000,75.000000
max,1.000000,1.000000,1.000000,2.000000,86.000000

In [17]:
model = sm.OLS(df['vol_sedimentacion'], df.drop('vol_sedimentacion',axis = 1)).fit()

In [19]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      vol_sedimentacion   R-squared:                       0.019
Model:                            OLS   Adj. R-squared:                 -0.071
Method:                 Least Squares   F-statistic:                    0.2090
Date:                Sun, 04 Nov 2018   Prob (F-statistic):              0.932
Time:                        20:07:13   Log-Likelihood:                -267.56
No. Observations:                  48   AIC:                             543.1
Df Residuals:                      44   BIC:                             550.6
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
tipo_suspension    -9.3125     11.773     -0.791      0.433     -33.040      14.415
abertura_malla     -3.1875      9.613     -0.332      0.742     -22.561      16.186
temp_ciclaje        2.5208      9.613      0.262      0.794     -16.852      21.894
replica             1.0833      6.080      0.178      0.859     -11.169      13.336
==============================================================================
Omnibus:                        4.723   Durbin-Watson:                   0.008
Prob(Omnibus):                  0.094   Jarque-Bera (JB):                2.218
Skew:                          -0.215   Prob(JB):                        0.330
Kurtosis:                       2.038   Cond. No.                         1.94
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

**Pendiente:** Generar gráfica de interacción